/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

body {
	background: #e1e5f2;
	font-size:22px;
	line-height: 32px;
	color: #022b3a;
	word-wrap:break-word !important;
	font-family: 'raleway', sans-serif;
	}

h1 {
	font-size: 60px;
	text-align: center;
	color: #464655;

}

h3 {
	font-size: 30px;
	text-align: center;
	color: #022b3a;
}

h3 a {
	color: #022b3a;
}

a {
	color: #464655;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	font-family: 'raleway', 'serif';
	}

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	margin: 50px 0;
	background-color: #1f7a8c;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
	}

nav ul li {
	display:inline-block;
	background-color: #1f7a8c;
	}

nav a {
	display:block;
	padding:0 10px;
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover {
	background-color: #000000;

}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute;
	top: 60px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
position: relative;}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	float: right;
	top:-60px;
	left:170px;
}


/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }
